// Color information
$font-family:				Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
$font-size:					1.1em;
$font-color:				#243314;

$border-radius:				3px;
$gradient-percentage:		12%;

$widget-content-bg:			#FAFAFA;

$dialog-title-bg:			#404040;
$dialog-title-text:			#FFFFFF;

$default-state-bg:			#f6f6f6;
$default-state-text:		$font-color;
$default-state-border:		#ABABAB;

$success-state-bg:			#90A960;	
$success-state-text:		#FFFFFF;
$success-state-border:		#627D3F;

$warning-state-bg:			#DAB151;	
$warning-state-text:		#FFFFFF;
$warning-state-border:		#997233;

$highlight-state-bg:		#49A7DB;	
$highlight-state-text:		#FFFFFF;
$highlight-state-border:	#2E63A5;

$error-state-bg:			#D8717B;//#C36468;	
$error-state-text:			#FFFFFF;
$error-state-border:		#A1474B;

$progressbar-front-top:		#49A7DB;
$progressbar-front-bottom:	darken($progressbar-front-top, $gradient-percentage);
$progressbar-front-border:	#2E63A5;
$progressbar-back-top:		#D4D4D4;
$progressbar-back-bottom:	lighten($progressbar-back-top, $gradient-percentage);

$input-bg:					#F8F8F8;

// Legacy below!!!

$hover-state-bg:			#ECECEC;
$hover-state-text:			$font-color;
$hover-state-border:		#ABABAB;

$focus-state-bg:			#ECECEC;
$focus-state-text:			$font-color;
$focus-state-border:		#ABABAB;
$focus-state-shadow:		#49A7DB;

$active-state-bg:			#E3E3E3;
$active-state-text:	 		$font-color;
$active-state-border:		#ABABAB;

$defaultStateStartColor: 	$default-state-bg;
$defaultStateEndColor: 		darken($default-state-bg, $gradient-percentage);
$defaultStateTextColor: 	$default-state-text;
$defaultStateBorderColor:	$default-state-border;

$hoverStateStartColor: 		$hover-state-bg;
$hoverStateEndColor: 		darken($hover-state-bg, $gradient-percentage);
$hoverStateTextColor: 		$hover-state-text;
$hoverStateBorderColor:		$hover-state-border;

$focusStateStartColor: 		$hoverStateStartColor;
$focusStateEndColor: 		$hoverStateEndColor;
$focusStateTextColor: 		$hoverStateTextColor;
$focusStateBorderColor:		$hoverStateBorderColor;

$activeStateStartColor: 	$active-state-bg;
$activeStateEndColor: 		lighten($active-state-bg, $gradient-percentage);
$activeStateTextColor: 		$active-state-text;
$activeStateBorderColor:	$active-state-border;


$titleBarStartColor:		$dialog-title-bg;//#4c4c4e;
$titleBarEndColor:			darken($titleBarStartColor, $gradient-percentage);//#282425;
$titleBarTextColor:			$dialog-title-text;

// Mixins
@mixin border-radius ($radius: $border-radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin box-shadow ($x: 0, $y: 0, $d: 1px, $color: #000) {
	-webkit-box-shadow: $x $y $d $color;
	-moz-box-shadow: $x $y $d $color;
	box-shadow: $x $y $d $color;
}

@mixin box-shadow-inset ($x: 0, $y: 0, $d: 1px, $color: #000) {
	-webkit-box-shadow: inset $x $y $d $color;
	-moz-box-shadow: inset $x $y $d $color;
	box-shadow: inset $x $y $d $color;
}

@mixin text-shadow ($x: 0, $y: 0, $color: #000) {
	text-shadow: $x $y $color;
	-webkit-text-shadow: $x $y $color;
	-moz-text-shadow: $x $y $color;
	filter: "progid:DXImageTransform.Microsoft.DropShadow(OffX='#{$x}', OffY='#{$y}', Color='#{$color}')";
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(OffX='#{$x}', OffY='#{$y}', Color='#{$color}')";
}

@mixin rotate-text() {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}
	
@mixin gradientTopToBottom ($from, $to) {
	background: $from + $to;
	filter:expression("progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}',endColorstr='#{$to}')");
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}',endColorstr='#{$to}')";
	background:-moz-linear-gradient(0% 100% 90deg, $to, $from);
	background:-webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: -o-linear-gradient(0% 100% 90deg, $to, $from);
}

@mixin gradientLeftToRight ($from, $to) {
	background: $from + $to;
	filter:expression("progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}',endColorstr='#{$to}',GradientType=1)");
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}',endColorstr='#{$to}',GradientType=1)";
	background:-moz-linear-gradient(0% 100% 180deg, $to, $from);
	background:-webkit-gradient(linear, left top, right top, from($from), to($to));
	background: -o-linear-gradient(0% 100% 180deg, $to, $from);
}

// Widgets
@import "jquery/widgets";
@import "uniform/widgets";
@import "wijmo/widgets";
@import "html/widgets";