.wijmo-wijdialog .wijmo-wijdialog-hasframe
{
    padding: 0;
}

.wijmo-wijdialog-defaultdockingzone
{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

/* for ie 6 minimize*/
* html .wijmo-wijdialog-defaultdockingzone .ui-dialog-titlebar
{
    float: left;
}

.wijmo-wijdialog-captionbutton
{
    @extend .ui-state-highlight;
    display: inline-block; /*margin-right:.2em;*/
    outline: none;
    float: right;
    margin-left: 3px;
	margin-top: -0.7em !important;
	a { color: inherit }
	
	.ui-icon
	{
		margin: 1px;
		background-image: url(images/ui-icons_ffffff_256x240.png);
	}
}