.wijmo-wijtree {
    width: 360px;
    padding: 0.5em;
}

.wijmo-wijtree .wijmo-checkbox {
    margin: 0;
    float: left;
}

.wijmo-wijtree .wijmo-wijtree-parent span {
    float: left;
}

.wijmo-wijtree .wijmo-wijtree-child {
    margin-left: 32px;
}

.wijmo-wijtree .wijmo-wijtree-list .wijmo-wijtree-node {
    border: 0px;
    background: none;
    display: block;
    float: left;
    clear: both;
    font-weight: normal;
    margin: 0 20px 0 0;
}

.wijmo-wijtree-inner {
	border: 1px solid transparent;
	padding: 3px;
	vertical-align:middle;
}

.wijmo-wijtree .wijmo-wijtree-list .wijmo-wijtree-node .wijmo-wijtree-inner a,
.wijmo-wijtree .wijmo-wijtree-list .wijmo-wijtree-node .wijmo-wijtree-inner .wijmo-wijtree-template {
	outline: none;
    margin:0 0 0 0.5em;
    display: block;
    float: left;
}

.wijmo-wijtree .wijmo-wijtree-list li.wijmo-wijtree-node {
	margin-left:16px;
}

.wijmo-wijtree .wijmo-wijtree-list .ui-state-default a,
.wijmo-wijtree .wijmo-wijtree-list .ui-state-default {
    color: inherit;
}

.wijmo-wijtree .wijmo-wijtree-list .ui-state-hover,
.wijmo-wijtree .wijmo-wijtree-list .ui-state-active {
    font-weight: normal;
}

wijmo-wijtree a.ui-state-default:link, 
wijmo-wijtree a.ui-state-default:visited, 
wijmo-wijtree a.ui-state-default:hover, 
wijmo-wijtree a.ui-state-default:active, 
wijmo-wijtree a.ui-state-hover:link, 
wijmo-wijtree a.ui-state-hover:visited, 
wijmo-wijtree a.ui-state-hover:hover, 
wijmo-wijtree a.ui-state-hover:active, 
wijmo-wijtree a.ui-state-active:link, 
wijmo-wijtree a.ui-state-active:visited, 
wijmo-wijtree a.ui-state-active:hover, 
wijmo-wijtree a.ui-state-active:active {
    border-style: solid;
    font-weight: normal;
}

.wijmo-wijtree .wijmo-wijtree-list .wijmo-wijtree-item {
    padding: 0;
    width: 100%;
    float: left;
    clear:left;	
    margin: 0 0 0 16px;
    display: inline; /*fix margin-left doubled when float set to left on ie 6*/	
    width:100%;
}

.wijmo-wijtree .wijmo-wijtree-list .ui-icon {
	float: left;
}

.wijmo-wijtree .wijmo-wijtree-list .wijmo-wijtree-parent {
	margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    clear:left;	
}

.wijmo-wijtree-insertion {
	height:1px;
	font-size:0px; /*fix ie 6 issue*/	
}

.wijmo-wijtree-node .wijmo-wijtextbox {
    padding: 0;
    margin: 0;
    float: left;
    margin:0 0 0 0.5em;
}