.ui-helper-horizontal > DIV,
.ui-helper-horizontal > LI,
.ui-helper-horizontal > SPAN,
.ui-helper-horizontal > LABEL,
.ui-helper-horizontal > H1,
.ui-helper-horizontal > H2,
.ui-helper-horizontal > H3,
.ui-helper-horizontal > H4
{
    float: left;
    clear: none;
    display: block;
}

@import "splitter";
@import "dropdown";
@import "checkbox";
@import "radio";
@import "list";
@import "tooltip";
@import "menu";
@import "combobox";
@import "tree";
@import "expander";
@import "pager";
@import "superpanel";
@import "wizard";
@import "dialog";
@import "calendar";
@import "upload";
@import "grid";
@import "input";