div.selector span
{
	@extend .ui-state-default;
	border-width: 0px 1px 0px 0px !important;
}

div.uploader span.action
{
	@extend .ui-state-default;
	border-width: 0px 0px 0px 1px !important;
}

div.uploader.focus span.action, div.uploader.hover span.action, div.uploader:hover span.action,
div.button.focus, div.button:focus, div.button:hover, div.button.hover,
div.selector.focus span, div.selector.hover span, div.selector:hover span
{ 
	@include ui-state-hover($default-state-text, darken($default-state-bg, 0.5*$gradient));
}

div.uploader.active span.action, div.uploader:active span.action,
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span
{
	@include ui-state-active($default-state-text, $default-state-bg);
}


/* Global Declaration */

.selector, .selector *,
.radio, .radio *,
.checker, .checker *,
.uploader, .uploader *,
.button, .button *
{
	margin: 0;
	padding: 0;
}

.selector, 
.checker, 
.button, 
.radio, 
.uploader {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

.selector select:focus, 
.radio input:focus, 
.checker input:focus, 
.uploader input:focus {
	outline: 0;
}

/*  *************************************  *
	  Select 
 *  *************************************  */

div.selector
{
	@include border-radius;
	border: 1px solid $default-state-border;
	position: relative;
	overflow: hidden;
	background: $default-state-bg url('images/selector.png') right center no-repeat;
	-webkit-box-shadow: inset 0 -10px 15px rgba(0,0,0,.10);
	-moz-box-shadow: inset 0 -10px 15px rgba(0,0,0,.10);
	box-shadow: inset 0 -10px 15px rgba(0,0,0,.10);
	margin: 2px -2px 2px 0px;
	
	&:hover
	{
		background: darken($default-state-bg, 0.5*$gradient) url('images/selector.png') right center no-repeat;
	}
	
	&:focus
	{
		background: darken($default-state-bg, 0.5*$gradient) url('images/selector.png') right center no-repeat;
	}
	
	&:active
	{
		background: $default-state-bg url('images/selector.png') right center no-repeat;
	}
	
	span
	{
		border-right: inherit;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 5px;
		margin-right: 20px;
	}
	
	select
	{
		top: 0px;
		left: 0px;
		position: absolute;
		height: 100%;
		border: 1px solid;
		background: none;
		width: 100%;
		opacity: 0;
		filter: 'alpha(opacity:0)';
	}
}

/*  *************************************  *
	  Checkbox 
 *  *************************************  */

div.checker
{
	margin-top: -0.3em;
	margin-right: 0.3em;
	width: 1em;
	height: 1em;
	padding: 0.2em;
	border: 1px solid #a9a9a9;
	position: relative;
	@include border-radius(5px);
	@include gradientTopToBottom(#eff0f0, #ffffff);
	
	input
	{
		width: 1em;
		height: 1em;
		opacity: 0;
		filter: 'alpha(opacity:0)';
		display: inline-block;
		background: none;
	}
	
	span
	{
		width: 1em;
		height: 1em;
		display: -moz-inline-box;
		display: inline-block;
		text-align: center;
		@include border-radius(3px);
	}
	
	&.focus span,
	&:hover span
	{
		background-image: url(images/ui-icons_222222_256x240.png);
		background-position: -66px -147px;
	}
	
	span.checked
	{
		background: #5e9ae2;
		@include box-shadow-inset(0 -6px 5px rgba(0,0,0,.2));
		background-image: url(images/ui-icons_ffffff_256x240.png);
		background-position: -66px -147px;
	}
	
	&:hover, &:focus
	{
		@include box-shadow (0,0,3px,#49A7DB);
	}
}

/*  *************************************  *
	  RADIO 
 *  *************************************  */

div.radio
{
	margin-top: -0.3em;
	margin-right: 0.3em;
	width: 1em; height: 1em;
	padding: 0.2em;
	@include border-radius(2em);
	position: relative;
	
	border: 1px solid $default-state-border;
	background-color: $input-bg;
	@include gradientTopToBottom($input-bg,lighten($input-bg, $gradient));
	
	&:hover, &:focus
	{
		@include box-shadow(0,0,3px,$highlight-state-bg);
	}
	
	input
	{
		width: 1em; height: 1em;
		opacity: 0;
		filter: 'alpha(opacity:0)';
		text-align: center;
		display: inline-block;
		background: none;
	}
	
	span
	{
		width: 1em; height: 1em;
		@include border-radius(7px);
		display: -moz-inline-box;
		display: inline-block;
		text-align: center;
		
		&.checked
		{
			background: $highlight-state-bg;
			@include box-shadow-inset(0,-6px,5px,rgba(0,0,0,.2));
		}
	}
} 

/*  *************************************  *
	  Uploader 
 *  *************************************  */

div.uploader
{
	@include border-radius(5px);
	border: 1px solid $default-state-border;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	cursor: default;
	padding: 0px !important;
	
	span.action
	{
		line-height: 100%;
		padding: 5px;
		text-align: center;
		float: right;
		display: inline;
		overflow: hidden;
		cursor: pointer;
		font: inherit;
		border-left: solid 1px $default-state-border;
	}
	
	span.filename
	{
		line-height: 100%;
		padding: 5px !important;
		font: inherit;
		color: #777;
		padding: 0px 10px;
		float: left;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: default;
	}
	
	&.disabled
	{
	
		span.action
		{
	  		color: #aaa;
	  	}
	  	
	  	span.filename
	  	{
	  	  border-color: #ddd;
	  	  color: #aaa;
	  	}
	}
	
	input {
	  opacity: 0;
	  filter: 'alpha(opacity:0)';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  float: right;
	  height: 100%;
	  border: none;
	  cursor: default;
	  width: 100%;
	}
}